exceptiongroup>=1.2.2
iniconfig>=2.1.0
packaging>=24.2
pluggy>=1.5.0
psycopg2-binary>=2.9.10
python-dotenv>=1.2.1
typing_extensions>=4.13.0

aiohttp>=3.13.2
bcrypt>=4.0.0
cryptography>=46.0.5
fastapi>=0.124.4
passlib>=1.7.4
pydantic>=2.12.5
uvicorn>=0.24.0
yarl>=1.22.0

SQLAlchemy>=2.0.45
alembic>=1.17.2
uliweb-alembic>=0.6.9

pytest>=9.0.2
pytest-cov>=7.0.0
pyjwt

ruff>=0.9.0
mypy>=1.14.0
black>=24.10.0
isort>=5.13.0
