@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-50:  #faf5ff;
  --color-blue-100: #f3e8ff;
  --color-blue-200: #e9d5ff;
  --color-blue-300: #d8b4fe;
  --color-blue-400: #c084fc;
  --color-blue-500: #a855f7;
  --color-blue-600: #9333ea;
  --color-blue-700: #7e22ce;
  --color-blue-800: #6b21a8;
  --color-blue-900: #581c87;
  --color-blue-950: #3b0764;

  --color-slate-50:  #faf8ff;
  --color-slate-100: #f2effe;
  --color-slate-200: #e6e0f7;
  --color-slate-800: #2c2838;
  --color-slate-900: #221f2e;
  --color-slate-950: #1a1822;
}

html, body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}